<div class="page-header well" id="tag_cloud" style="text-align: center; width: 100%">
  <% tag_cloud Post.tag_counts, %w[s m l] do |tag, css_class| %>
      <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>



<% @posts.each do |post| %>
    

        <div class="well " style="width:80%; margin-left: 10%">

            <div class="post">
              <div class="row">

                  <div class="span1">
                    <%=  image_tag(post.user.gravatar_url) %>
                  </div>

                  <div class="span7">
                    <h5>Auther: <%= post.user.display_name %> </h5> <h4 style="color: #0033CC">  <%= post.hits %> views </h4>
                    <h5> Category: <%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></h5>
                      <p><%= post.content %></p>

                    <%= image_tag(post.attachment_url, :width => 300) if post.attachment.present? %>
                    <br />
                    <br />
                      <div class="meta">
                        <%= link_to post.created_at.to_s(:long), post %> |
                        <%= link_to 'Read More ', post_path(post), class: 'btn btn-success' %>
                        <span class="admin">
                          <% if user_signed_in? %>
                          | <%= link_to "Edit", edit_post_path(post),class: 'btn btn-primary' %> |
                          <%= link_to "Delete", post,class: 'btn btn-danger', method: :delete, data: { confirm: "Are you sure ?"} %>
                        </span>
                          <% end %>
                      </div>
                  </div>
              </div>
            </div>
        </div>
    
<% end %>


